// Body
body {
  font-family: 'NT Somic', sans-serif;
  font-weight: 400;
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fbfbfb;
  &.active {
    overflow: hidden;
  }
}

// Wrapper
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  overflow: hidden;
}

// Container
.container {
  margin: 0 auto;

  max-width: 1230px;
  padding: 0 15px;
  @media screen and (max-width: $medium) {
    max-width: 1296px;
    padding: 0 48px;
  }
  @media screen and (max-width: $tablet) {
    max-width: 1240px;
    padding: 0 20px;
  }
}

.title {
  color: #02133f;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}
