//Burger Colors
$burgerColor: #fff;
$burgerActiveColor: #fb4d42;

// Main Colors
$fillGray: #8e90b6;
$fillBLue: #202bde;
$aqua: #009af8;
$red: #fb4d42;
$textGray: #3b455e;
// extra colors
$light: #fff;
$dark: #222;

// Medias

$medium: 992px;
$large: 1200px;
$tablet: 768px;
$small: 375px;
