<section class="about">
  <div class="about__container container">
    <div class="about__item">
      <h5 class="about__title title">
        Trust and Reliability of Discount Canadian pharmacy
      </h5>
      <p class="about__text">
        Reliability and safety are the main criteria of Canadian Pharmacy. Over
        many years in the pharmaceutical market, we have won the trust and
        respect of both customers and doctors. We strive to be open and honest
        with our clients and partners. Our pharmacy works only with trusted
        local and international manufacturers of medicines and medical devices,
        which improves the quality, safety, and reliability of products.
        consumer.
      </p>
      <p class="about__text">
        Canadian Pharmacy operates exclusively in the legal space, without
        violating the current legislation of Canada. We have all the necessary
        permits and licenses for the sale of medicines. All products are not
        only carefully sourced but also checked for defects and expiration dates
        before being sold to the end
      </p>
    </div>
    <div class="about__item">
      <h5 class="about__title title">Your Privacy</h5>
      <p class="about__text">
        Our privacy practices are designed to provide a high level of protection
        for your personal information. This also concerns your financial
        information as the payment process is completely secure. We will not use
        or share your information with anyone except as described in our Privacy
        Policy. For example, we need to share your name and address with the
        delivery company to get your order delivered to the right place.
      </p>

      <p class="about__text">
        We make sure that all orders are processed confidentially. We understand
        that privacy is especially important for people who are embarrassed to
        buy certain categories of medicines or medical devices in a regular
        pharmacy. The order details will not be present on the delivery package,
        so you can rest assured that your neighbors will not know what
        medications or other products you ordered from Canadian Pharmacy.
      </p>
      <p class="about__text">
        Canadian online pharmacy allows customers to order medicines online, saving time and money. Check out the menu and search function that allows you to easily find the necessary medicines. If you need help or have questions, please contact our professional representatives.
      </p>
      </p>
    </div>
    <div class="about__item">
      <h5 class="about__title title">Comfortable Online Shopping</h5>
      <p class="about__text">
        The absence of the need to visit the pharmacy on your own provides maximum convenience in purchasing drugs for various purposes. Our team does everything possible to make the use of the website comfortable and make available useful functions that speed up the process of searching, choosing, and ordering a product or medicine.
      </p>
      <p class="about__text">
        To make it easier to find the medications you need, just use special filters. For your convenience, the drugs are divided into categories and subcategories. You can also check out analogs (generics) if the product you need is not available or the price does not suit you. Since various medicines are available in one place, it will take much less time to search for them.
      </p>
      <p class="about__text">
        Another important advantage of an online pharmacy is the round-the-clock operation. You can choose the necessary drugs at any time of the day. The delivery service ensures the receipt of medicines in a convenient place in no time. This service will be especially relevant for people with limited mobility, people living in remote areas, or busy people.
      </p>
    </div>
    <div class="about__item">
      <h5 class="about__title title">
        Competitive Pricing
      </h5>
      <p class="about__text">
        Our online Canadian pharmacy provides its customers with a more favorable cost of medicines. This is possible due to the minimum costs for rent and maintenance of the premises, as well as the small number of employees. Our long-term cooperation with medicine suppliers and large, regular orders further allowed us to keep the pricing as affordable as possible.
      </p>
      <p class="about__text">
        The difference in the cost of the same drugs in online and offline pharmacies can be about 20%, which is especially noticeable when buying expensive drugs or taking medications on a regular basis. By registering on our website, you can receive information about affordable purchases and all kinds of discounts on products, which will allow you to buy some medical drugs and goods at a lower price or get a nice discount on them.
      </p>
    </div>
  </div>
</section>
