<section class="faq">
  <div class="faq__container container">
    <div class="faq__item">
      <div class="faq__toggle active">
        <h4 class="faq__question">We are customer oriented</h4>
        <div class="faq__icon"></div>
      </div>
      <div class="faq__submenu">
        <p class="faq__answer">
          The company values customer trust. The main advantage of our online
          drugstore is the quality guarantee without an extra cost. We work with
          the largest and time-tested suppliers. All medicines are purchased
          from official distributors. The company provides the most strict
          control over the quality of the proposed products, which allows us to
          protect our customers from counterfeit or low-quality products.
        </p>
        <!-- FOR SPACE BETWEEN TEXT -->
        <p class="faq__answer">
          As a major pharmaceutical retailer that makes large volumes of orders
          from medication manufacturers and distributors, we gained favorable
          conditions and purchase prices from all suppliers. This allows us to
          keep quite low prices for our customers.
        </p>
      </div>
    </div>
    <div class="faq__item">
      <div class="faq__toggle">
        <h4 class="faq__question">We have what you need</h4>
        <div class="faq__icon"></div>
      </div>
      <div class="faq__submenu">
        <p class="faq__answer">
          The company values customer trust. The main advantage of our online
          drugstore is the quality guarantee without an extra cost. We work with
          the largest and time-tested suppliers. All medicines are purchased
          from official distributors. The company provides the most strict
          control over the quality of the proposed products, which allows us to
          protect our customers from counterfeit or low-quality products.
        </p>
        <!-- FOR SPACE BETWEEN TEXT -->
        <p class="faq__answer">
          As a major pharmaceutical retailer that makes large volumes of orders
          from medication manufacturers and distributors, we gained favorable
          conditions and purchase prices from all suppliers. This allows us to
          keep quite low prices for our customers.
        </p>
      </div>
    </div>
    <div class="faq__item">
      <div class="faq__toggle">
        <h4 class="faq__question">
          We know the importance of quality assurance
        </h4>
        <div class="faq__icon"></div>
      </div>
      <div class="faq__submenu"></div>
    </div>
    <div class="faq__item">
      <div class="faq__toggle">
        <h4 class="faq__question">We offer online access to information</h4>
        <div class="faq__icon"></div>
      </div>
      <div class="faq__submenu"></div>
    </div>
    <div class="faq__item">
      <div class="faq__toggle">
        <h4 class="faq__question">
          We support our customers every step of the way
        </h4>
        <div class="faq__icon"></div>
      </div>
      <div class="faq__submenu"></div>
    </div>
  </div>
</section>
