<footer class="footer">
  <div class="footer__inner">
    <div class="footer__container">
      <a href="/" class="footer__logo">
        <img src="assets/img/icons/logo.svg" alt="logo" />
      </a>
      <div class="footer__content">
        <ul class="footer__nav">
          <li class="footer__item">
            <a href="#" class="footer__link">Join Us</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Supple Logistics</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Current Fundraisers</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">For Health Care Workers</a>
          </li>
        </ul>
        <span class="footer__copy">
          Copyright © 2023. Canadian Pharmacy MedSupplyDrive.org: Cheap Products
          Online
        </span>
      </div>
    </div>
  </div>
</footer>
