<header class="header">
  <ul class="header__list header__top">
    <li class="header__item">Dispensed by Licensed Pharmacies</li>
    <li class="header__item">Confidential and discreet service</li>
    <li class="header__item">Season Promotions</li>
    <li class="header__item">Secure Shopping</li>
  </ul>
  <div class="header__inner">
    <div class="header__container">
      <a href="/" class="header__logo"
        ><img
          width="168"
          height="32"
          src="assets/img/icons/logo.svg"
          alt="logo"
      /></a>
      <div class="header__navigation">
        <nav class="nav header__nav">
          <ul class="nav__list">
            <li>
              <a href="#" class="nav__link">Home</a>
            </li>
            <li>
              <div class="dropdown">
                <a href="#" class="dropdown__link">Who we are</a>
                <ul class="sub-menu">
                  <li class="sub-menu__item">
                    <a href="#" class="sub-menu__link"> Mission </a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a href="#" class="nav__link">Our Benefits</a>
            </li>
            <li>
              <a href="#" class="nav__link">Blog</a>
            </li>
            <li>
              <a href="#" class="nav__link">All products</a>
            </li>
            <li>
              <div class="dropdown">
                <a href="#" class="dropdown__link">For Customers</a>
                <ul class="sub-menu">
                  <li class="sub-menu__item">
                    <a href="#" class="sub-menu__link"> Pharmacy Services</a>
                  </li>
                  <li class="sub-menu__item">
                    <a href="#" class="sub-menu__link">Delivery</a>
                  </li>
                  <li class="sub-menu__item">
                    <a href="#" class="sub-menu__link"
                      >Refill & Prescriptions</a
                    >
                  </li>
                  <li class="sub-menu__item">
                    <a href="#" class="sub-menu__link"
                      >Return & Refunds Process</a
                    >
                  </li>
                  <li class="sub-menu__item">
                    <a href="#" class="sub-menu__link">FAQs</a>
                  </li>
                </ul>
              </div>
            </li>
            <!--  -->
            <li>
              <a href="#" class="nav__link">Contact Us</a>
            </li>
          </ul>
        </nav>
        <div class="header__buttons">
          <a href="#" class="header__link">
            <svg
              width="28"
              height="28"
              viewBox="0 0 28 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.61768 11.364H22.3822"
                stroke="white"
                stroke-width="1.3"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M13.9999 22.7865C18.8525 22.7865 22.7863 18.8526 22.7863 14C22.7863 9.14734 18.8525 5.2135 13.9999 5.2135C9.14722 5.2135 5.21338 9.14734 5.21338 14C5.21338 18.8526 9.14722 22.7865 13.9999 22.7865Z"
                stroke="white"
                stroke-width="1.3"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M5.61768 16.636H22.3822"
                stroke="white"
                stroke-width="1.3"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M14 22.7865C15.941 22.7865 17.5146 18.8526 17.5146 14C17.5146 9.14734 15.941 5.2135 14 5.2135C12.0589 5.2135 10.4854 9.14734 10.4854 14C10.4854 18.8526 12.0589 22.7865 14 22.7865Z"
                stroke="white"
                stroke-width="1.3"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M14 0.820312C21.2752 0.820312 27.1797 6.72613 27.1797 14C27.1797 21.2743 21.2752 27.1797 14 27.1797C11.6057 27.1797 9.36075 26.5401 7.42334 25.4215C6.53149 24.9088 5.44201 24.8772 4.51943 25.3372C2.96423 26.1078 0.820312 27.1797 0.820312 27.1797C0.820312 27.1797 1.89224 25.0358 2.66984 23.4819C3.13113 22.5597 3.1004 21.4676 2.58639 20.574C1.46169 18.641 0.820312 16.3948 0.820312 14C0.820312 6.72613 6.72481 0.820312 14 0.820312Z"
                stroke="white"
                stroke-width="1.3"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>

            <span>FAQ</span>
          </a>
          <a href="#" class="header__link">
            <svg
              width="28"
              height="28"
              viewBox="0 0 28 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_88_147)">
                <path
                  d="M11.3642 23.6651H23.6652V7.84949H7.84961V20.1506"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M18.3935 7.84949H13.1216V13.1214H18.3935V7.84949Z"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M1.69922 0.820312H7.8497V20.1505"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M7.84956 27.1797C9.79062 27.1797 11.3642 25.6062 11.3642 23.6651C11.3642 21.7241 9.79062 20.1505 7.84956 20.1505C5.9085 20.1505 4.33496 21.7241 4.33496 23.6651C4.33496 25.6062 5.9085 27.1797 7.84956 27.1797Z"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M11.3643 23.665H26.3012"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </g>
              <defs>
                <clipPath id="clip0_88_147">
                  <rect width="28" height="28" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <span>Track Order</span>
          </a>
          <a href="#" class="header__link">
            <svg
              width="29"
              height="28"
              viewBox="0 0 29 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.32031 21.0291C1.32031 23.9409 3.67948 26.301 6.59219 26.301C11.1875 26.301 17.8125 26.301 22.4078 26.301C25.3205 26.301 27.6797 23.9409 27.6797 21.0291C27.6797 16.4294 27.6797 10.4854 27.6797 10.4854H1.32031V21.0291Z"
                stroke="white"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M25.9222 10.4854L17.1357 1.69897"
                stroke="white"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M3.07764 10.4854L11.8641 1.69897"
                stroke="white"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M7 16V21.2719"
                stroke="white"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M22.4077 15.7573V21.0292"
                stroke="white"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M11.8643 15.7573V21.0292"
                stroke="white"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M17.1357 15.7573V21.0292"
                stroke="white"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>

            <span>Basket</span>
          </a>
        </div>
      </div>
      <div class="burger">
        <div class="dot1 dot"></div>
        <div class="dot2 dot"></div>
        <div class="dot3 dot"></div>
        <span></span>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="mobile">
    <div class="mobile__container container">
      <ul class="mobile__top">
        <li>
          <a href="#" class="mobile__link">
            <svg
              width="28"
              height="28"
              viewBox="0 0 28 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.61768 11.364H22.3822"
                stroke="white"
                stroke-width="1.3"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M13.9999 22.7865C18.8525 22.7865 22.7863 18.8526 22.7863 14C22.7863 9.14734 18.8525 5.2135 13.9999 5.2135C9.14722 5.2135 5.21338 9.14734 5.21338 14C5.21338 18.8526 9.14722 22.7865 13.9999 22.7865Z"
                stroke="white"
                stroke-width="1.3"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M5.61768 16.636H22.3822"
                stroke="white"
                stroke-width="1.3"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M14 22.7865C15.941 22.7865 17.5146 18.8526 17.5146 14C17.5146 9.14734 15.941 5.2135 14 5.2135C12.0589 5.2135 10.4854 9.14734 10.4854 14C10.4854 18.8526 12.0589 22.7865 14 22.7865Z"
                stroke="white"
                stroke-width="1.3"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M14 0.820312C21.2752 0.820312 27.1797 6.72613 27.1797 14C27.1797 21.2743 21.2752 27.1797 14 27.1797C11.6057 27.1797 9.36075 26.5401 7.42334 25.4215C6.53149 24.9088 5.44201 24.8772 4.51943 25.3372C2.96423 26.1078 0.820312 27.1797 0.820312 27.1797C0.820312 27.1797 1.89224 25.0358 2.66984 23.4819C3.13113 22.5597 3.1004 21.4676 2.58639 20.574C1.46169 18.641 0.820312 16.3948 0.820312 14C0.820312 6.72613 6.72481 0.820312 14 0.820312Z"
                stroke="white"
                stroke-width="1.3"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <span>FAQ</span>
          </a>
        </li>
        <li>
          <a href="#" class="mobile__link">
            <svg
              width="28"
              height="28"
              viewBox="0 0 28 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_88_147)">
                <path
                  d="M11.3642 23.6651H23.6652V7.84949H7.84961V20.1506"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M18.3935 7.84949H13.1216V13.1214H18.3935V7.84949Z"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M1.69922 0.820312H7.8497V20.1505"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M7.84956 27.1797C9.79062 27.1797 11.3642 25.6062 11.3642 23.6651C11.3642 21.7241 9.79062 20.1505 7.84956 20.1505C5.9085 20.1505 4.33496 21.7241 4.33496 23.6651C4.33496 25.6062 5.9085 27.1797 7.84956 27.1797Z"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M11.3643 23.665H26.3012"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </g>
              <defs>
                <clipPath id="clip0_88_147">
                  <rect width="28" height="28" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <span>Track Order</span>
          </a>
        </li>
        <li>
          <a href="#" class="mobile__link active">
            <svg
              width="29"
              height="28"
              viewBox="0 0 29 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.32031 21.0291C1.32031 23.9409 3.67948 26.301 6.59219 26.301C11.1875 26.301 17.8125 26.301 22.4078 26.301C25.3205 26.301 27.6797 23.9409 27.6797 21.0291C27.6797 16.4294 27.6797 10.4854 27.6797 10.4854H1.32031V21.0291Z"
                stroke="white"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M25.9222 10.4854L17.1357 1.69897"
                stroke="white"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M3.07764 10.4854L11.8641 1.69897"
                stroke="white"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M7 16V21.2719"
                stroke="white"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M22.4077 15.7573V21.0292"
                stroke="white"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M11.8643 15.7573V21.0292"
                stroke="white"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M17.1357 15.7573V21.0292"
                stroke="white"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>

            <span>Basket</span>
          </a>
        </li>
      </ul>
      <div class="mobile__wrapper">
        <div class="mobile__col">
          <ul class="mobile__list">
            <li>
              <a class="mobile__col-link" href="#">Home</a>
            </li>
            <li>
              <a class="mobile__col-link" href="#">Who we are</a>
              <ul class="mobile__submenu">
                <li class="mobile__subitem">
                  <a href="#" class="mobile__sublink">Mission</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="mobile__col-link" href="#">Our Benefits</a>
            </li>
            <li>
              <a class="mobile__col-link" href="#">Blog</a>
            </li>
            <li>
              <a class="mobile__col-link" href="#">All products</a>
            </li>
          </ul>
        </div>
        <div class="mobile__col">
          <ul class="mobile__list">
            <li>
              <a class="mobile__col-link" href="#">For Customers</a>
              <ul class="mobile__submenu">
                <li class="mobile__subitem">
                  <a href="#" class="mobile__sublink">Pharmacy Services</a>
                </li>
                <li class="mobile__subitem">
                  <a href="#" class="mobile__sublink">Delivery</a>
                </li>
                <li class="mobile__subitem">
                  <a href="#" class="mobile__sublink">Refill & Prescriptions</a>
                </li>
                <li class="mobile__subitem">
                  <a href="#" class="mobile__sublink"
                    >Return & Refunds Process</a
                  >
                </li>
                <li class="mobile__subitem">
                  <a href="#" class="mobile__sublink">FAQs</a>
                </li>
              </ul>
            </li>

            <li>
              <a class="mobile__col-link" href="#">Our Benefits</a>
            </li>
            <li>
              <a class="mobile__col-link" href="#">Blog</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
</header>
