<section class="hero">
  <div class="hero__container container">
    <div class="hero__inner">
      <h1 class="hero__title">
        Canadian Pharmacy Online – Buy Drugs Online Safely
      </h1>
      <p class="hero__text">
        In the modern world, both women and men experience a lot of
        inconveniences associated with the lack of free time and constant
        stress. Sometimes there is simply not enough time even for the simplest
        tasks, not to mention going to the pharmacy to get much-needed
        medications. There is also a constant struggle to cut costs. Now, you do
        not need to stand in lines and waste your time purchasing the necessary
        medicine. Canadian Pharmacy offers its buyers a combination of a high
        level of service and quality of medications, competitive prices, and a
        wide range of products for the whole family.
      </p>
    </div>
  </div>
</section>
