.about {
  @media screen and (max-width: $medium) {
    display: none;
  }
  padding-top: 32px;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__item {
  }

  &__title {
    margin-bottom: 24px;
  }

  &__text {
    color: #4b4d7e;
    line-height: 26px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
