// header
.header {
  &__logo {
    display: block;
    flex-shrink: 0;
    margin-left: 80px;
    @media screen and (max-width: 1530px) {
      margin-left: 0;
    }
  }
  &__top {
    background: #0a14b4;
    padding-top: 10px;
    padding-bottom: 12px;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    overflow-x: auto;
    white-space: nowrap;
    @media screen and (max-width: 1200px) {
      gap: 40px;
    }
    @media screen and (max-width: $medium) {
      gap: 20px;
    }
    @media screen and (max-width: 920px) {
      display: none;
    }
  }
  &__item {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 15px;
      background: url('../img/icons/ok.svg') no-repeat center/cover;
    }

    color: #a9adf1;
    padding-left: 40px;
    font-size: 14px;
  }

  &__inner {
    background: linear-gradient(90deg, #001039 0%, #05194a 100%);

    @media screen and (max-width: 1530px) {
      padding-top: 17px;
      padding-bottom: 16px;
      padding-right: 25px;
      padding-left: 48px;
    }
  }

  &__container {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1530px) {
      justify-content: space-between;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    width: 100%;

    &.active {
      transform: translateY(0);
    }

    @media screen and (max-width: 1530px) {
      display: none;
    }
  }

  &__buttons {
    margin-left: auto;
    display: flex;
  }

  &__btn {
    display: inline-block;
    padding: 17px 25px;
    transition: background-color 0.2s ease-in-out;
    @include hover {
      background-color: #1f2ade;
      svg {
        path {
          transition: stroke 0.2s linear;
          stroke: #009af8;
        }
      }
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    color: $light;
    @media screen and (max-width: $medium) {
      color: $dark;
    }
  }

  &__nav {
    margin-left: auto;
    @media screen and (max-width: $medium) {
      margin-left: 0;
    }
  }
}
.nav {
  &__list {
    display: flex;
    align-items: center;
    gap: 56px;

    @media screen and (max-width: $medium) {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__link {
    position: relative;
    color: $light;
    @media screen and (max-width: $medium) {
      color: $dark;
    }

    @include hover {
      &::after {
        transform: scaleX(1);
        transform-origin: left bottom;
      }
      // color: $dark;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -6px;

      height: 1px;
      width: 100%;

      background: $aqua;
      border-radius: 5px;
      transform: scaleX(0);
      transition: transform 200ms ease-in-out;
      transform-origin: right bottom;
    }
  }
}

.dropdown {
  cursor: pointer;
  padding-right: 25px;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background: url('../img/icons/plus.svg') no-repeat center/cover;
  }
  position: relative;

  @include hover {
    .sub-menu {
      opacity: 1;
      visibility: visible;
    }
  }

  &__link {
    color: $light;
  }
}

.sub-menu {
  &::before {
    position: absolute;
    content: '';
    top: -12px;
    left: 0;
    width: 100%;
    height: 12px;
  }
  //
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;

  //

  position: absolute;
  padding: 5px;
  border-radius: 5px;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  min-width: 130px;
  text-align: center;
  background-color: $aqua;
  z-index: 12;
  &__item {
    @include hover {
      background-color: #05194a;
      transition: background-color 300ms ease;
      border-radius: 10px;
    }
  }
  &__link {
    display: block;
    color: $light;
    padding: 10px 10px;
  }
}

// Mobile Menu

.mobile {
  position: fixed;
  z-index: 10;
  background-color: #262fc9;
  overflow: auto;
  width: 100%;
  height: 100%;
  transform: translateX(3000px);
  transition: transform 0.3s ease-in-out;
  &.active {
    transform: translateX(0);
  }

  &__container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__top {
    display: flex;
    align-items: center;
    background-color: #051747;
    width: max-content;
    border-radius: 4px;
  }

  &__link {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    padding: 16px 25px;
    color: $light;
    transition: background-color 0.2s ease;
    &.active {
      svg {
        stroke: #009af8;
        path {
          stroke: #009af8;
        }
      }
    }
    @include hover {
      background-color: #0a2a85;
    }
  }

  &__wrapper {
    padding-bottom: 100px;
    display: flex;
    gap: 300px;

    @media screen and (max-width: $medium) {
      gap: 50px;
      justify-content: space-between;
      width: 100%;
    }
    @media screen and (max-width: 550px) {
      flex-direction: column;
    }
    margin-top: 40px;
  }

  &__col {
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  &__col-link {
    color: $light;
  }

  &__submenu {
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  &__subitem {
    margin-left: 6px;
    padding-left: 20px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 3px;
      height: 16px;
      background-color: #fb4d42;
    }
    &::after {
      content: '';
      position: absolute;
      left: -8px;
      top: 5%;
      transform: translateY(-50%);
      rotate: 90deg;
      width: 3px;
      height: 16px;
      background-color: #fb4d42;
    }
  }

  &__sublink {
    color: $light;
  }
}
.container {
}
